<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg  sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">💣 Exodus</a>
    <div class="collapse navbar-collapse" id="">
        <div class="dropdown">
            <button class="btn nav-item btn-secondary dropdown-toggle" type="button" id="reports_dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reports
            </button>
            <div class="dropdown-menu" aria-labelledby="reports_dd">
              <a class="dropdown-item" href="/">Complete reports</a>
              <a class="dropdown-item" href="/allreports/1">Partial reports</a>
            </div>
        </div>
        &nbsp;
        <div class="dropdown">
            <button class="btn nav-item btn-secondary dropdown-toggle" type="button" id="trackers_dd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Trackers
            </button>
            <div class="dropdown-menu" aria-labelledby="trackers_dd">
                <a class="dropdown-item" href="/trackers">List</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/page/teemo">Teemo</a>
              <a class="dropdown-item" href="/page/ad4screen">Ad4Screen</a>
              <a class="dropdown-item" href="/page/fidzup">FidZup</a>
            </div>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<script src="/static/js/jquery-3.2.1.min.js" ></script>
<script src="/static/js/popper.min.js" ></script>
<script src="/static/js/bootstrap.min.js" ></script>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>
</body>
</html>