{% extends "layout.html"%}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            {{ page | safe }}
        </div>
    </div>
</div>
{% endblock %}