{% extends "layout.html"%}
{% block content %}
<div class="container-fluid">
    <h1>List of applications by tracker</h1>
    {% for r in reports %}
        <div class="xxrow">
            <h2>{{r.tracker}}</h2>
            <div>
                <ul>
                    {% for a in r.apps %}
                    <li><code>{{a}}</code></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}